In [1]:
import pandas as pd

In [2]:
count_df = pd.read_csv('brain_counts.csv', index_col=0)

In [3]:
count_df.head()

,0610005C13Rik,0610007C21Rik,0610007L01Rik,0610007N19Rik,0610007P08Rik,0610007P14Rik,0610007P22Rik,0610008F07Rik,0610009B14Rik,0610009B22Rik,...,Zxdb,Zxdc,Zyg11a,Zyg11b,Zyx,Zzef1,Zzz3,a,l7Rn6,zsGreen_transgene
A1.B003290.3_38_F.1.1,0,125,16,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,54,0
A1.B003728.3_56_F.1.1,0,0,0,0,0,324,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A1.MAA000560.3_10_M.1.1,0,348,0,0,0,5,0,0,0,0,...,0,0,0,0,0,195,0,0,113,0
A1.MAA000564.3_10_M.1.1,0,41,36,0,0,24,0,0,0,14,...,0,0,0,0,125,0,1,0,0,0
A1.MAA000923.3_9_M.1.1,0,53,0,0,0,0,0,0,0,0,...,0,0,0,81,0,0,0,0,0,0

In [4]:
count_df.shape

(3401, 23433)

In [5]:
metadata_df = pd.read_csv('brain_metadata.csv',index_col=0)

In [6]:
metadata_df.head()

,cell_ontology_class,subtissue,mouse.sex,mouse.id,plate.barcode
cell,,,,,
A1.B003290.3_38_F.1.1,astrocyte,Striatum,F,3_38_F,B003290
A1.B003728.3_56_F.1.1,astrocyte,Striatum,F,3_56_F,B003728
A1.MAA000560.3_10_M.1.1,oligodendrocyte,Cortex,M,3_10_M,MAA000560
A1.MAA000564.3_10_M.1.1,endothelial cell,Striatum,M,3_10_M,MAA000564
A1.MAA000923.3_9_M.1.1,astrocyte,Hippocampus,M,3_9_M,MAA000923

In [7]:
metadata_df.shape

(3401, 5)

In [8]:
pd.value_counts(metadata_df['subtissue'])

Cortex         1149
Hippocampus     976
Striatum        723
Cerebellum      553
Name: subtissue, dtype: int64

In [9]:
for column in metadata_df.columns.values:
    print(pd.value_counts(metadata_df[column]))

oligodendrocyte                   1574
endothelial cell                   715
astrocyte                          432
neuron                             281
oligodendrocyte precursor cell     203
brain pericyte                     156
Bergmann glial cell                 40
Name: cell_ontology_class, dtype: int64
Cortex         1149
Hippocampus     976
Striatum        723
Cerebellum      553
Name: subtissue, dtype: int64
M    2694
F     707
Name: mouse.sex, dtype: int64
3_10_M    980
3_9_M     871
3_8_M     590
3_38_F    355
3_11_M    253
3_39_F    241
3_56_F    111
Name: mouse.id, dtype: int64
MAA000560    287
MAA000926    263
MAA000581    190
MAA000944    184
MAA000932    174
MAA001894    147
MAA000564    143
MAA000942    136
MAA000935    131
MAA000941    125
MAA000930    111
MAA000923    108
MAA000947    107
B003290       98
MAA000561     97
MAA000615     95
B003275       93
MAA000641     67
B003728       66
MAA000940     63
MAA001895     60
MAA000563     57
MAA000925     55
B003277       52
MAA000638     51
MAA000902     40
MAA000424     39
MAA000553     39
MAA000578     38
MAA000928     36
MAA000550     34
MAA001845     33
B001688       32
B003274       27
B000621       24
MAA001854     23
MAA001853     22
B000404       21
MAA000924     14
MAA000538     10
MAA001856      9
Name: plate.barcode, dtype: int64

In [10]:
import scanpy as sc

In [11]:
adata = sc.AnnData(X=count_df, obs=metadata_df)

In [14]:
adata

AnnData object with n_obs Ã— n_vars = 3401 Ã— 23433
    obs: 'cell_ontology_class', 'subtissue', 'mouse.sex', 'mouse.id', 'plate.barcode'

In [15]:
is_spike_in = {}
number_of_spike_ins = 0

for gene_name in adata.var_names:
    if 'ERCC' in gene_name:
        is_spike_in[gene_name] = True
        number_of_spike_ins += 1
    else:
        is_spike_in[gene_name] = False

adata.var['ERCC'] = pd.Series(is_spike_in)
print('found this many spike ins: ', number_of_spike_ins)

found this many spike ins:  92

In [17]:
adata.write('brain_raw.h5ad')